- page_heading 'TerraLing Workshop 2021'

.row
  .col-md-8
    %h1 TerraLing Workshop 2021

    %p
      %strong Dates:
      21&ndash;23 October 2021,
      9&ndash;12 PT / 12&ndash;15 ET / 18&ndash;21 CET

    %p.strong= link_to 'Register to receive Zoom info',
      'https://forms.gle/DWR7XvM4yUHUfC7X6'

    %p
      The 2021 TerraLing Workshop will be a venue for work-in-progress that
      uses the TerraLing platform for crosslinguistic research, as well as
      projects that will use TerraLing but are still in the planning stages.
      The workshop will take place online.  Everyone who is interested in
      getting involved in collaborative, crosslinguistic work using TerraLing
      or is curious about doing so, is invited to join.

    %h2.h3 Thematic sessions
    %p
      The workshop will be divided into three thematic sessions, corresponding
      to different groups of people working on different projects using the
      TerraLing platform:
    %ul.list-style
      %li
        %strong Group 1:
        Quantification and plurality (21 Oct)
      %li
        %strong Group 2:
        Passive-like constructions (22 Oct)
      %li
        %strong Group 3:
        Clausal embedding and intensional constructions (23 Oct)
    %p.strong= link_to 'Download program', 'https://bit.ly/terraling-2021'
    %p
      The thematic sessions will be a combination of short presentations of
      ongoing TerraLing projects and preliminary results, discussions of
      questionnaires for TerraLing that are still under development, and
      invited talks by researchers who are not currently involved in the
      TerraLing project, but have done crucial crosslinguistic work on the
      respective topic.
