language: ruby
cache: bundler
addons:
  ssh_known_hosts: $DEPLOY_HOST
before_install:
- gem install bundler
bundler_args: ""
script:
- ls
rvm:
- 2.6.5
gemfile:
- Gemfile
after_success:
- mkdir -p tmp/.ssh
- openssl enc -aes-256-cbc -d -in $PRIVATE_KEY_NAME -out tmp/.ssh/travis_rsa -k $ENC_PASS
- chmod 700 tmp/.ssh/
- chmod 600 tmp/.ssh/travis_rsa
- eval "$(ssh-agent -s)"
- ssh-add tmp/.ssh/travis_rsa
- DEPLOY_HOST=$DEPLOY_HOST BRANCH=$BRANCH RAILS_ENV=production bundle exec cap deploy