- page_heading "Edit " + current_group.example_name
%h1
  Editing the #{current_group.example_name}
= render 'form'
= link_to 'javascript:history.back()', :class => "btn btn-default" do
  %span.glyphicon.glyphicon-arrow-left
  Back
